src/pages/car-more.pug
extends ../templates/main.pug
block content
	.row.mt-space-40px
		.left.col-12.col-lg-6.asfs
			+offer-id('JA4LS31WX8Z011200')
			+table(2, ['NISSAN X-TRAIL', '23 800 РУБ.', 'Год выпуска', '2007', 'Тип кузова', 'внедорожник', 'КПП', 'механическая', 'Пробег', '257340', 'Тип двигателя', 'дизель', 'Привод', 'полный']).mb-space-40px
		.right.col-12.col-lg-6.asfs
			+showcase('1,2,3,4,5', 'png', 'JA4LS31WX8Z011200')
		.empty.col-12.col-lg-6.mb-space-40px.asfs
			+textbox('КОММЕНТАРИЙ','Рассрочка до 5 месяцев c первоначальным взносом 50% от стоимости авто. Ваш авто в зачет.').mb-space-40px
			+textbox('ОСОБЕННОСТИ','Автомобиль обслуживался у официального дилера.').mb-space-40px
			+textbox('КОМПЛЕКТАЦИЯ', ['Велюровый салон', 'Подогрев сидений', 'Громкая связь', 'Литые диски', 'Климат-контроль', 'Эл/стеклоподъёмники', 'Эл/зеркала'], true).mb-space-40px
			+infobox.mtb-space-40px
			+btn('/', 'Назад')(class='gray').mb-space-40px.centrolize

build/car-more.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <!-- favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Title</title>
    <meta name="format-detection" content="telephone=no">
    <!-- Android - Chrome-->
    <meta name="theme-color" content="#16C9B9">
    <!-- Add to home screen for Safari on iOS-->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Title">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="img">
    <meta name="msapplication-starturl" content="/">
    <link rel="apple-touch-icon" href="img.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/style.css?version=1"><!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
          <div class="header">
            <div class="container">
              <div class="header__left"><a class="logo" href="/"></a>
              </div>
              <div class="header__right"><a class="phone mr-space-20px" href="tel:+375 (44) 744-87-97">+375 (44) 744-87-97</a>
                <div class="up-down"><a class="mail" href="tel:trade-in@nissan-belarus.by">trade-in@nissan-belarus.by</a><br><span class="work-time">Ежедневно с 08:00 до 20:00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
              <div class="burger"><span></span><span></span><span></span></div>
              <ul class="menu">
                <li><a href="/">О компании</a></li>
                <li><a href="/">Новые автомобили</a></li>
                <li><a href="/">Авто с пробегом</a></li>
                <li><a href="/">Финансовые программы</a></li>
                <li><a href="/">Контакты</a></li>
              </ul>
          </div>
        <div class="adp">
        </div>
        <div class="container">
          <div class="row mt-space-40px">
            <div class="left col-12 col-lg-6 asfs">
                <div class="offer-id">ID предложения: JA4LS31WX8Z011200</div>
                <table class="table mb-space-40px">
                  <tr>
                    <th>NISSAN X-TRAIL</th>
                    <th>23 800 РУБ.</th>
                  </tr>
                  <tr style="height: 20px;border:none;"></tr>
                  <tr>
                    <td>Год выпуска</td>
                    <td>2007</td>
                  </tr>
                  <tr>
                    <td>Тип кузова</td>
                    <td>внедорожник</td>
                  </tr>
                  <tr>
                    <td>КПП</td>
                    <td>механическая</td>
                  </tr>
                  <tr>
                    <td>Пробег</td>
                    <td>257340</td>
                  </tr>
                  <tr>
                    <td>Тип двигателя</td>
                    <td>дизель</td>
                  </tr>
                  <tr>
                    <td>Привод</td>
                    <td>полный</td>
                  </tr>
                </table>
            </div>
            <div class="right col-12 col-lg-6 asfs">
                <div class="showcase">
                  <div class="showcase__main">
                    <div class="showcase__main-box"></div>
                  </div>
                  <!-- в data-img-names перечесляються префиксы к именам через запятую '1,2,3,4,5'-->
                  <!-- в data-img-format формат изображений-->
                  <!-- в data-car-id основное имя, в теории нэйминг картинок происходмт по "id предложения"-->
                  <div class="showcase__pagination" data-img-names="1,2,3,4,5" data-img-format="png" data-car-id="JA4LS31WX8Z011200"></div>
                  <!-- как формируються имена картинок: ../img/ id + '_' + names[i] + '.' + format-->
                </div>
            </div>
            <div class="empty col-12 col-lg-6 mb-space-40px asfs">
                <div class="textbox mb-space-40px">
                  <div class="textbox-title">КОММЕНТАРИЙ</div>
                  <div class="textbox-text">Рассрочка до 5 месяцев c первоначальным взносом 50% от стоимости авто. Ваш авто в зачет.</div>
                </div>
                <div class="textbox mb-space-40px">
                  <div class="textbox-title">ОСОБЕННОСТИ</div>
                  <div class="textbox-text">Автомобиль обслуживался у официального дилера.</div>
                </div>
                <div class="textbox mb-space-40px">
                  <div class="textbox-title">КОМПЛЕКТАЦИЯ</div>
                  <div class="textbox-text">
                    <ul>
                      <li>Велюровый салон</li>
                      <li>Подогрев сидений</li>
                      <li>Громкая связь</li>
                      <li>Литые диски</li>
                      <li>Климат-контроль</li>
                      <li>Эл/стеклоподъёмники</li>
                      <li>Эл/зеркала</li>
                    </ul>
                  </div>
                </div>
                <div class="infobox mtb-space-40px">Примем Ваш автомобиль в зачет.</div><a class="btn gray mb-space-40px centrolize" href="/">Назад</a>
            </div>
          </div>
        </div>
      </div>
        <footer class="footer">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-3"><a class="logo white"></a>
              </div>
              <p class="col-12 col-lg-9">NISSAN © 2018 СООО «ДрайвМоторс», УНП 191111259. Автоцентр ДрайвМоторс — официальный дилер Nissan в РБ. Обращаем ваше внимание на то, что, вся информация на сайте носит рекламный характер и не является публичной офертой.<br>Изображения автомобилей на сайте представлены для ознакомления и могут отличаться от автомобилей реализуемых дилерами. Более подробную и актуальную информацию можно получить у официального дилера Nissan.</p>
            </div>
          </div>
        </footer>
    </div>
    <script src="js/scripts.js?version=1"></script>
  </body>
</html>
